
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
    font-size: 11pt;
}

* {
    box-sizing: border-box;
}
button,
input,
select {
    font-family: inherit;
    font-size: inherit;
}

.app {

    display: flex;
    flex-direction: column;
    height: 100vh;
}
